[submodule "WSU-UE---JS"]
	path = WSU-UE---JS
	url = https://github.com/invokeImmediately/WSU-UE---JS
[submodule "WSU-UE---CSS"]
	path = WSU-UE---CSS
	url = https://github.com/invokeImmediately/WSU-UE---CSS
